<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>


    <div class="profile_header">


        <h1 class="gabble_profile_header">Gabble!!</h1>


        <div class="user">

            {{#user}}
            <div class="dropdown">
                <button class="dropbtn">Logged in as {{user.name}}</button>
                <div class="dropdown-content">
                    <a href="./login">Login</a> <br>
                    <a href="./profile">Profile</a><br>
                    <a href="./signup">Signup</a><br>
                    <a href="./index">
                        <form action="/logout" method="post">

                            <input class="submit" type="submit" value="Logout">

                        </form>
                    </a>
                </div>
            </div>
            {{/user}} {{^user}}

            <h3>No user logged in</h3>
            {{/user}}
        </div>
    </div>

    <div class="info">
        <h4>{{user.name}}</h4>
        <p>{{user.bio}}</p>
    </div>





    {{#all}}
    <div class="post"><span><span class="name">{{author.name}}</span><span class="body">{{all.body}}{{body}}</span>
        <form class="likes" action="/like" method="post">
            <input type="hidden" name="postid" value={{id}}>
            <input type="hidden" name="authorid" value={{user.id}}>
            <input class="likeBtn" type="submit" value="Like"></form>Liked by: &nbsp {{likes.length}} &nbsp users

        <form class="allLikes" action="/likes" method="post">
            <input type="hidden" name="postid" value={{id}}>
            <input class="likeBtn" type="submit" value="See All Likes!">
        </form><br></span>
        <span id="date">{{createdAt}}</span> </div> {{/all}}




</body>

</html>