<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>

    <h1>HOMEPAGE</h1>

    {{#user}}
    <h3>Logged in as {{user.name}}</h3>
    {{/user}} {{^user}}
    <h3>No user logged in</h3>
    {{/user}}
    <h3>
        <form action="/logout" method="post">

            <input type="submit" value="logout">

        </form>



</body>

</html>