<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>




    <div class="user">


        <div class="dropdown">
           <button class="dropbtn">{{#user}}Logged in as   {{user.name}}{{/user}} {{^user}}

        <h3>No user logged in</h3>
        {{/user}}</button>
            <div class="dropdown-content">
                <a href="./login">Login</a> <br>
                <a href="./in">Profile</a><br>
                <a href="./signup">Signup</a><br>
                <a href="./index">
                    <form action="/logout" method="post">

                        <input class="submit" type="submit" value="Logout">

                    </form>
                </a>
            </div>
        </div>
        
    </div>

    <h1 class="index_header">Gabble!!</h1>



    <div class="login">


        <form action="/login" method="post">
            <label for="">Email:</label>
            <input class="input" type="text" name="email"><br>

            <label for="">Password:</label>
            <input class="input" type="password" name="password"><br>
            <input class="submit" type="submit" value="Login">

        </form>

    </div>






   
   


</body>

</html>